@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Rye&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Grenze+Gotisch:wght@100..900&family=Rye&display=swap');


$defaultPadding: .5rem;
$fonthead: "Rye", sans-serif; 
$fontbody: "Grenze Gotisch", sans-serif;
$fontmain: "Almendra", serif;

$colorFlag5: #a40061;
$colorFlag4: #d362a7;
$colorAccent:#9b4f97;
$colorFlag3: #c127e37b;


